* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(0,91,154);
    background: linear-gradient(83deg, rgba(0,91,154,1) 28%, rgba(107,215,252,1) 100%);
    color: white;
    font-family: 'Indie Flower', cursive;
    min-height: 100vh;
}

header{
    font-size: 2.5rem;
}

header,
form{
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button{
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background: white;
    border-radius: 5px;
}

form button{
    color: #00c424;
    background: whitesmoke;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 5px;
    margin-left: 10px;
}

form button:hover{
    background: #00c424;
    color: whitesmoke;
    border-radius: 5px;
}

.task-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-list {
    min-width: 25%;
    list-style: none;
}

.task {
    margin: 1rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
    border-radius: 10px;
}

.task li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: #ff6;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: rgb(30, 252, 30);
    transition: all 0.5s ease;
}

.complete-btn:hover {
    background: whitesmoke;
    color: #00c424;
    transition: all 0.6s ease;
}

.trash-btn {
    background: rgb(240, 54, 54);
    transition: all 0.6s ease;
    border-radius: 0 10px 10px 0;
}

.trash-btn:hover {
    background: whitesmoke;
    color: rgb(240, 54, 54);
    transition: all 0.6s ease;
    border-radius: 0 5px 5px 0;
}

.task-item {
    padding: 0rem 1rem;
}

.fa-check-square, .fa-trash-alt {
    pointer-events: none;
}

.completed {
    text-decoration: line-through green;
}

/* .uncompleted {
    text-decoration: red;
} */

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: black;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    margin-left: 2rem;
}

.select:after{
    content: "\25BC";
    position: absolute;
    background: #000080;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.5s ease;
}

.select:hover::after {
    transition: all 0.5s ease;
    background: whitesmoke;
    color: #000080;
}

/* Event Button */
.event-wrapper {
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.event-btn {
    outline:0; 
    font-size:1em;
    font-weight:525;
    background: whitesmoke;
    border:none;
    border-radius: 5px;
    padding: 0.75rem 2rem;
    transition:all .4s ease-out; 
    box-shadow:inset -3px -3px 0 0 lightgreen;
  }
.event-btn:hover{
    color:#444;
    background-color: lightgreen;
    cursor: pointer; 
  }
.event-btn:active{
    color:#222;
    box-shadow:inset -5px -5px lightgreen,
      1px 1px 0 0 lightgreen,
      2px 2px 0 0 lightgreen,
      3px 3px 0 0 lightgreen,
      4px 4px 0 0 lightgreen,
      5px 5px 0 0 lightgreen;
  }




/* Animations */
.swipe-left {
    animation: swipe-left-animation 1.8s cubic-bezier(.07,.68,.33,.98);
    text-decoration: line-through;
}

@keyframes swipe-left-animation {
   0% {
        opacity: 1;
        transform: translateX(0);
    }
    30% {
        opacity: 1;
        transform: translateX(200px);
    }
    80% {
        opacity: 1;
        transform: translateX(-1300px);
    }
    100% {
        opacity: 0;
        transform: translateX(-1300px);
    }
}


.drop-down {
    animation: drop-down-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    transform-origin: 30% 100%;
}
@keyframes drop-down-animation {
    0% {
        opacity: 1;
        transform: rotateZ(0);
    }
    100% {
        opacity: 0;
        transform: translatex(600px) rotateZ(90deg);
    }
}